
@font-face {
  font-family: "Plain Light";
  src: url(./font/plain-light-webfont.ttf);
}
@font-face {
  font-family: "Plain Light";
  src: url(./font/plain-regular-webfont.ttf);
}
@font-face {
  font-family: "silk serif";
  src: url(./font/silkserif-lightitalic-webfont.ttf);
}
@font-face {
  font-family: "silk serif";
  src: url(./font/silkserif-regularitalic-webfont.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
.mousefollower{
  border: 2px solid #fff;
  background-color: #fff;
  scale: 2;
  mix-blend-mode: difference;
}
#loader{
  height: 100%; 
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 25vh 15vw;
}
.line {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5vw;

}
#line-part1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.3vw ;
}
#line-part1 h5,#line-part1 h6{
  font-size: 3vw;
  font-weight: 100;
  font-family: 'silk serif';
}
#line-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line h1{
  font-size: 5.8vw;
  text-transform: uppercase;
  font-weight: 900;
}
.line h2{
  font-size: 4.3vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes anime{
  0%{
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47%{
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }


  50%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

@keyframes anime{
  0%{
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47%{
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }


  50%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}


#main{
  position:relative;
  overflow: hidden;
  background-color: #151515;
}
#page1{
  height: 100vh;
  width: 100%;
  /* background-color: #151515; */
}
#page1 #nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.8vw 6.3vw ;
}

#page1 #nav-part2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
}#nav-part2 h4{
  font-size: 1vw;
  font-weight: 500;
  font-family: 'plain light';
}

.hero{
width: 70%;
margin-left: 28%;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
overflow-y: hidden;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.hero:nth-child(2){
  margin-top: 15vh
}
.hero h1{
  font-size: 7.1vw;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 7.1vw;
  position: relative;
}

#hero1::before{
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
  top: 30%;
  left: 23%;
}
.hero h2{
  font-size: 7.1vw;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 7.1vw;
  border-bottom: .5vw solid white;
  padding-bottom: .5vw;
  /* transition: all ease .3s; */
}

.hero h2:hover{
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: .5vw solid #ffffff00;
}
#page2{
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 15vh;


}
#page2 #video-container{
  width: 70vw;
  position: relative;
  height: 67vh;
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
  background-color: red;
}

#video-container video{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}
#video-container img{
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
}
#video-container #video-cursor{
   height: 9.2vw;
   width: 9.2vw;
   position: absolute;
   border-radius: 50%;
   background-color: #ffa63d;
   z-index: 99;
   top: -5vh;
   left: 71%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}

#video-cursor i{
  color: #faf8f8;
  font-size: 2.3vw;
}
#page3{
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: #151515; */

  padding: 17vh 2vw;
 
}
#page3 h1{
  font-size: 7.2vw;
  text-transform: uppercase;
  width: 60vw;
  position: relative;
  margin-left: 28vw;
}
#page3 .underline{
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 2vw 0;
  margin-left: 28vw;
}
#page3 h1::before{
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
  left: -15%;
  top: 14%;
}
#image-div-container{
  padding: 1vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5vh;
  margin-top: 18vh;
}
 .box-container{
  width: 24vw;
  /* position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap:5vh
}
.box-container h2{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5vh;
}
.box-container .box-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
 .box-content h4{
  font-weight:100;
}
.box-line{
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.image-div{
  height: 63vh;
  width:  100%;
  /* position: relative; */
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.image-div img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-container:nth-child(2){
  width: 30vw;
}
 #image2{
  width: 30vw;
  height: 39vw;
 }
 .box-container:nth-child(5){
  width: 30vw;
  margin-top: 14vh;
}
 #image3{
  width: 30vw;
  height: 39vw;
 }
 .box-container:nth-child(6){
  width: 35vw;
  margin-top: -6vh;
}
 #image4{
  width: 35vw;
  height: 40vw;
 }
 .box-container:nth-child(7){
  margin-top: -29vh;
}
.box-container:nth-child(9){
  width: 35vw;
  margin-top: 2vh;
  /* margin-left: 13vh; */
}
 
.div-circle1{
  width: 48vh;
  height: 48vh;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 55vh;
  margin-left: 10vw;
  position: relative;
}
.div-circle1 svg{
  height: 30%;
}
.div-circle2{
  width: 50vh;
  height: 50vh;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  /* margin-top: 10vh; */
}
.div-circle2 svg{
  height: 30%;
  rotate: -45deg;
}
.div-circle3{
  width: 50vh;
  height: 50vh;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 55vh;
  margin-left: 13vh;
  position: relative;
}
.div-circle3 svg{
  height: 30%;
  rotate: -90deg;
}
.div-circle4{
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12vh;
  margin-left: 33vw;
  background-color: #ffa63d;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}
.circle-in1{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  /* transition-delay: .3s; */
}
.circle-in1 p{
  font-size: .95vw;
  font-weight: 500;
  width: 75%;
  color: #0b0b0b;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.div-circle1:hover .circle-in1{
  scale: 1;
}
.div-circle1:hover p{
  scale: 1;
}
.circle-in2{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  /* transition-delay: .3s; */
}
.circle-in2 p{
  font-size: .95vw;
  font-weight: 500;
  /* width: 75%; */
  color: #0b0b0b;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.div-circle2:hover .circle-in2{
  scale: 1;
}
.div-circle2:hover p{
  scale: 1;
}
.circle-in3{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  /* transition-delay: .3s; */
}
.circle-in3 p{
  font-size: .95vw;
  font-weight: 500;
  /* width: 75%; */
  color: #0b0b0b;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.div-circle3:hover .circle-in3{
  scale: 1;
}
.div-circle3:hover p{
  scale: 1;
}
.div-circle4:hover{
  scale: 85%;
}
#page4{
  min-height: 100vh;
  width: 100%;
  padding: 7vh 0;
  position: relative;
  /* background-color: #151515; */
}
#page4-content{
  width: 72vw;
  margin-left: 28%;
  position: relative;

}
#page4-content h1{
  font-size: 7.1vw;
  text-transform: uppercase;
}
#page4-content h1::before{
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
  left: -12%;
  top: 1%;
}
#page4-content .under-line{
  height: 1px;
  width: 100%;
  background-color: #c1c0c0;
  margin: 5vw 0;
}
#page4-content>p{
  font-size: 2.2vw;
  width: 50%;
  margin-bottom: 3vw;
}
#page4-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#page4-flex img{
  width: 48%;

}
#page4-flex p{
  font-size: 1.1vw;
  width:25%;
  margin-left: 2vw;
}
#page4-blue-div{
  width: 30vw; 
  padding: 4vw 2vw;
  background-color: #3F7DF4;
  position: relative;
  margin-top: -32vh;
  margin-left: 24vw;


}
#blue-div-elem{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw 0 ;
  border-bottom: 2px solid #ffffffe0;
}

#blue-div-elem h4{
  font-size: 1.4vw;
  font-weight: 500;
}
#blue-div-elem p{
  width: 40%;
  font-size: .7vw;
}
#page5{
  width: 100%;
  min-height: 100vh;
  position:relative;
  /* background-color: #151515; */
}
.elem{
 
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -1vw;
}
.elem h1{
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;

}
@-webkit-keyframes animate{
  from{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to{
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
@keyframes animate{
  from{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to{
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
.elem2{
white-space: nowrap;
overflow-x: hidden;
margin-bottom: -1vw;
}
.elem2 h1{
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 100;
  text-transform: uppercase ;
  margin-right: 16px;
  color: transparent;
  display: inline-block;
  -webkit-animation-name: animate2;
          animation-name: animate2;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes animate2{
  to{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  from{
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
@keyframes animate2{
  to{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  from{
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

.elem span{
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}
.elem2 span{
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

#footer{
  height: 100vh;
  width: 100%;
  position: relative;
  padding-left: 28vw;
  /* background-color: #151515; */
}
#footer h1{
  font-size: 7.1vw;
  text-transform: uppercase;
  width: 60vw;
  position: relative;
}
#footer h1::before{
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
  left: -15%;
  top: 14%;
}
.underline{
   height: 2px;
   width: 100%;
   background-color: #fff;
   margin: 2vw 0;
}
#footer-div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12vw;
}
.box{
  width: 12vw;
  padding: 4vw 0;
  position: relative;
  line-height: 3.5vh;
 
}
.box h6{
  font-size: 1vw;
  margin-bottom: 3vh;
}
.box h5{
  font-size: 1.7vw;
  font-weight: 500;
}
#small{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
}
#small i{
  font-size: 8vw;
  font-weight: 800
}

._canvas_container{
  z-index: 999999 !important;
  pointer-events: none;

}
#flag{
  height:20vw;
  position:absolute;
  top: 0;
  left:0;
  opacity: 0;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
#hero3{
  position: relative;
  z-index: 999;
}


/* responsiv */

@media (max-width:600px) {
  #page1{
    height: 60vh;
    width: 100%;
    padding-top: 1px;
    /* background-color: #c33d3d; */
  }
  #page1 #nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.3vw 5.5vw ;
    position: fixed;
    top: 0;
    width: 100%;

  }
  #nav svg{
      scale: .9;
  }
  
  #page1 #nav-part2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
    display: none;
  }#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
    font-family: 'plain light';
  }
  
  .hero{
  width: 70%;
  margin-left: 3%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }
  .hero:nth-child(2){
    margin-top: 23vh
  }
  .hero h1{
    font-size: 9.8vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 9.8vw;
    position: relative;
  }
  
  #hero1::before{
    content: "01";
    position: absolute;
    font-size: 4vw;
    font-family: "silk serif";
    font-weight: 600;
    top: 30%;
    left: 3%;
  }
  .hero h2{
    font-size: 7.1vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 7.1vw;
    border-bottom: .5vw solid white;
    padding-bottom: .5vw;
    /* transition: all ease .3s; */
  }
  
  .hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: .5vw solid #ffffff00;
  }

  #page2{
    height: 80vh;
    width: 100%;
    position: relative;
    padding-top: 2vh;
  
  
  }
  #page2 #video-container{
    width: 100vw;
    position: relative;
    height: 59vh;
    left: 0%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: red; */
  }
  
  #video-container video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
  }
  #video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
  }
  #video-container #video-cursor{
     height: 15vw;
     width: 15vw;
     position: absolute;
     border-radius: 50%;
     background-color: #ffa63d;
     z-index: 99;
     top:50%;
     left: 50%;
     -webkit-transform: translate(-50%,-50%);
         -ms-transform: translate(-50%,-50%);
             transform: translate(-50%,-50%);
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
  }
  
  #video-cursor i{
    color: #faf8f8;
    font-size: 2.3vw;
  }
  #page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: #151515; */
   padding: 1vh 2vw;
   
  }
  #page3 h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    width: 60vw;
    position: relative;
    margin-left: 2vw;
  }
  #page3 .underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
    margin-left: 2vw;
  }
  #page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 4.5vw;
    font-family: "silk serif";
    font-weight: 100;
    left: 1%;
    top: -7vw;
  }
  #image-div-container{
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5vh;
    margin-top: 8vh;
  }
   .box-container{
    width: 100%;
    /* position: relative; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap:5vh
  }
  .box-container h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3vh;
  }
  .box-container .box-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
   .box-content h4{
    font-weight:100;
  }
  .box-line{
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
  .image-div{
    height: 95vh;
    width:  100%;
    /* position: relative; */
    overflow: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  
  .image-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .box-container:nth-child(2){
    width: 100%;
  }
   #image2{
    width: 100%;
    height: 95vh;
   }
   .box-container:nth-child(5){
    display: none;
    width: 30vw;
    margin-top: 14vh;
  }
   #image3{
    width: 30vw;
    height: 39vw;
   }
   .box-container:nth-child(6){
    width: 100%;
    margin-top: 1vh;
  }
   #image4{
    width: 100%;
    height: 95vh;
   }
   .box-container:nth-child(7){
    margin-top: 2vh;
  }
  .box-container:nth-child(9){
    width: 100%;
    margin-top: 2vh;
    /* margin-left: 13vh; */
  }
   
  .div-circle1{
    width: 48vh;
    height: 48vh;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 55vh;
    margin-left: 10vw;
    position: relative;
    display: none;
  }
  .div-circle1 svg{
    height: 30%;
  }
  .div-circle2{
    width: 50vh;
    height: 50vh;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    /* margin-top: 10vh; */
    display: none;
  }
  .div-circle2 svg{
    height: 30%;
    rotate: -45deg;
  }
  .div-circle3{
    width: 50vh;
    height: 50vh;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 55vh;
    margin-left: 13vh;
    position: relative;
    display: none;
  }
  .div-circle3 svg{
    height: 30%;
    rotate: -90deg;
  }
  .div-circle4{
    width: 23vh;
    height: 23vh;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    background-color: #ffa63d;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }

  .div-circle4 h3{
    font-size: 1.8vh;
    font-weight: 100;
  }

  .circle-in1{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    /* transition-delay: .3s; */
  }
  .circle-in1 p{
    font-size: .95vw;
    font-weight: 500;
    width: 75%;
    color: #0b0b0b;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
  }
  
  .div-circle1:hover .circle-in1{
    scale: 1;
  }
  .div-circle1:hover p{
    scale: 1;
  }
  .circle-in2{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    /* transition-delay: .3s; */
  }
  .circle-in2 p{
    font-size: .95vw;
    font-weight: 500;
    /* width: 75%; */
    color: #0b0b0b;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
  }
  
  .div-circle2:hover .circle-in2{
    scale: 1;
  }
  .div-circle2:hover p{
    scale: 1;
  }
  .circle-in3{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    /* transition-delay: .3s; */
  }
  .circle-in3 p{
    font-size: .95vw;
    font-weight: 500;
    /* width: 75%; */
    color: #0b0b0b;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
  }
  
  .div-circle3:hover .circle-in3{
    scale: 1;
  }
  .div-circle3:hover p{
    scale: 1;
  }
  .div-circle4:hover{
    scale: 85%;
  }
  #page4{
    min-height: 100vh;
    width: 100%;
    padding: 7vh 0;
    position: relative;
    margin-top: 15vh;
    /* background-color: #151515; */
  }
  #page4-content{
    width: 100%;
    margin-left: 2%;
    position: relative;
  
  }
  #page4-content h1{
    font-size: 7.8vw;
    font-weight: 600;
    text-transform: uppercase;
  }
  #page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 4vw;
    font-family: "silk serif";
    font-weight: 100;
    left: 1%;
    top: -4vh;
  }
  #page4-content .under-line{
    height: 1px;
    width: 100%;
    background-color: #c1c0c0;
    margin: 5vw 0;
  }
  #page4-content>p{
    font-size: 4vw;
    width: 60%;
    margin-bottom: 3vw;
  }
  #page4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #page4-flex img{
    width: 100%;
    margin-top: 35vw;
  
  }
  #page4-flex p{
    font-size: 2.7vw;
    width:50%;
    margin-left: 0vw;
    position: absolute;
    top: 45vh;
  }
  #page4-blue-div{
    width: 100%; 
    height: 45vh;
    padding: 2vh;
    background-color: #3F7DF4;
    position: relative;
    margin-top: 0vh;
    margin-left: 0;
   
  
  
  }
  #blue-div-elem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw 0 ;
    border-bottom: 2px solid #ffffffe0;
  }
  
  #blue-div-elem h4{
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 2vh;
  }
  #blue-div-elem p{
    width: 55%;
    font-size: 2vh;
    margin-bottom: 2vh;
  }
  #page5{
    width: 100%;
    min-height: 70vh;
    position:relative;
    /* background-color: #151515; */
  }
  .elem{
   
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -1vw;
  }
  .elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    -webkit-animation-name: animate;
            animation-name: animate;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  
  }
  @-webkit-keyframes animate{
    from{
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to{
      -webkit-transform: translateX(calc(-100% - 20px));
              transform: translateX(calc(-100% - 20px));
    }
  }
  @keyframes animate{
    from{
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to{
      -webkit-transform: translateX(calc(-100% - 20px));
              transform: translateX(calc(-100% - 20px));
    }
  }
  .elem2{
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -1vw;
  }
  .elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 100;
    text-transform: uppercase ;
    margin-right: 16px;
    color: transparent;
    display: inline-block;
    -webkit-animation-name: animate2;
            animation-name: animate2;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes animate2{
    to{
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    from{
      -webkit-transform: translateX(calc(-100% - 20px));
              transform: translateX(calc(-100% - 20px));
    }
  }
  @keyframes animate2{
    to{
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    from{
      -webkit-transform: translateX(calc(-100% - 20px));
              transform: translateX(calc(-100% - 20px));
    }
  }
  
  .elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
  }
  .elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
  }
  #footer{
    width: 100%;
    position: relative;
    padding-left: 2vh;
    /* margin-top:-30vh */
    /* background-color: #151515; */
  }
  #footer h1{
    font-size: 9vw;
    text-transform: uppercase;
    width: 60vw;
    position: relative;
  }
  #footer h1::before{
    content: "04";
    position: absolute;
    font-size: 4vw;
    font-family: "silk serif";
    font-weight: 100;
    left: 1%;
    top: -4vh;
  }
  .underline{
     height: 2px;
     width: 100%;
     background-color: #fff;
     margin: 2vw 0;
  }
  #footer-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4vh;
  }
  .box{
    width: 30%;
    padding: 1vw 0;
    position: relative;
    line-height:  3vh;
    margin-top: 2vh;
   
  }
  .box h6{
    font-size: 2.5vw;
    /* margin-bottom: 1vh; */
  }
  .box h5{
    font-size: 4.2vw;
    font-weight: 500;
  }
  #small{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1px;
  }
  #small i{
    font-size: 8vw;
    font-weight: 800
  }
  
  
}